*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #EEE;
    font-family: 'Roboto', sans-serif;
}
.continer{

    background-color: #E4F9F5;
    max-width: 1000px;
    margin:0 auto;
    padding: 3px;
}
header{

}
.profil-img{
    width: 110px;
    height: 125px;
    border: 1px solid black;
    border-radius: 45%;
    float: left;

}
.header-info{
    float: left;
    padding: 30px;
}
h1,h2,h3,h4,h5,h6{
    color: #11999e;
}
.header-contact{
    float: right;
    padding: 30px;

}
.header-contact a{
text-decoration: none;
color: teal;
font-weight: bold;
}
.header-contact :hover{
text-decoration: underline;
color: tomato;
}

.div-class{
    clear: both;
}
hr{
    border: solid black 2px;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}
#personal-section{

}
.content{
margin-bottom: 30px;
}
.content p{
    color: teal;
}
.left-div{
width: 30%;
float: left;
}
.right-div{
width: 70%;
float: right;

}

.common-hr{
    border: solid black 1px;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}
.edu-template-left{
    float: left;
    width: 45%;
}

.edu-template-right{
    float: right;
    width: 45%;
}

.rf-template-left{
    float: left;
    width: 45%;
}

.rf-template-right{
    float: right;
    width: 45%;
}

.footer-continer{
    background-color: blueviolet;
    text-align: center;
    padding: 10px;
}
.footer-continer a{
    color: rgb(240, 234, 234);
    text-decoration: none;
    margin: 20px;
}
.footer-continer p{
    color: rgb(240, 233, 233);
    text-decoration: none;
    margin-top: 20px;
   
}
